<h1><%=@recipe.name%></h1>
<h2>Ingredients:</h2>
<p><%=@recipe.ingredients%></p>
<h2>Cook Time:</h2>
<p><%=@recipe.cook_time%></p>

<p><a href="/recipes/#{@recipe1.id}/delete">Delete this recipe.</a></p>

<p>To see all recipes, visit <a href="/">Home</a>.</p>
